body{
  background-image: url("background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
div.container{
  background-color:rgba(146,167,224,0.8);
  margin-top: 288px;
  border-radius: 10px;

}
div.container-fluid{

}
  .h1{
    color: #3A4C5A;

 }

h3{
  color:#3A4C5A;
}
p{
  color:#7A306C;
}
