body{
  background-image: url("background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
div.container{
  background-color:rgba(146,167,224,0.9);
  margin-top: 80px;
  border-radius: 10px;
}


h3{
  color:#3A4C5A;
}
p{
  color:#084C61;

}
img.img-circle{
  padding-top: 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;

}
.timeline{
  position: relative;
}
div.timeline-image{
  width: 200px;
  height:200px;

}
div.timeline-heading{
  text-align: left;
  font-family: 'Lobster', cursive;
}
div.timeline-body{
  font-family: 'Quicksand', sans-serif;

}

ul{
  list-style: none;
}

