body{
  background-image: url("background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
div.container{
  background-color:rgba(146,167,224,0.8);
  margin-top: 288px;
  border-radius: 10px;

}
div.container-fluid{

  background-color:rgba(146,167,224,0.8);
  margin-top: 28px;
  border-radius: 10px;
  color:  #7A306C;
  text-align: center;
  font-family: 'Lobster', cursive;
 }
h3{

   font-family: 'Lobster', cursive;
}
p{
  color:#7A306C;
  font-family: 'Quicksand', sans-serif;
}
img{
  width: 250px;
  height: 250px ;
  border-radius: 50%;
}
h3.title{
  font-family: 'Lobster', cursive;
}
#future{
  font:bold;

}
